html,
body {
  height: 100vh;
}

.chat-room {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.message-part {
  background-color: rgb(221, 235, 251);
  width: 100%;
  overflow: scroll;
  flex: 1;
}

.typing-part {
  background-color: rgb(247, 247, 247);
  box-shadow: 0 -1px 2px 0.5px rgba(192, 192, 192, 0.406);
  padding: 10px;
  width: 100%;
  padding-bottom: 20px;
  /* position: absolute; */
  bottom: 0;
}

.charge-button {
  margin: 0 5px 10px 0;
  border-radius: 5px;
}

.balance {
  margin-left: 5px;
  display: inline-block;
}

.user-id {
  margin-left: 20px;
  display: inline-block;
  background-color: rgba(245, 245, 220, 0.39);
  padding: 0;
  margin: 0;
}

.typing-line {
  display: flex;
  margin-bottom: 15px;
}

.sent-button {
  margin-left: 5px;
  border-radius: 10px;
  height: 40px;
}

.received-dialog-line {
  display: flex;
  margin: 20px;
}

.sent-dialog-line {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.loading-message {
  width: 50px;
  margin: 15px;
  font-weight: 1200;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  max-width: 60%;
  padding: 0 10px;
  color: rgb(117, 130, 145);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 3px 0px rgba(128, 131, 228, 0.3);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: contain;
}

.message {
  font-size: 14px;
  line-height: 20px;
  margin: 0 15px;
  width: fit-content;
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  word-wrap: break-word;
  white-space: pre-line;
  box-shadow: 0px 2px 3px 0px rgba(128, 131, 228, 0.3);
}